<div class="template-1">
    <div class="hidden-header-info hidden">
        <div class="hidden-subsection-name" ng-bind="slide.subsection"></div>
        <div class="hidden-page-name" ng-bind="slide.content.name"></div>
    </div>
    <div class="section-inner">
        <div class="row">
            <div class="col-xs-7 col-xs-offset-1">
                <p ng-repeat="text in slide.content.text" 
                   ng-bind-html="text | to_trusted"
                   class="text-xl"></p>
            </div>
        </div>
    </div>
</div>