// Import 3rd party libs
@import '../../node_modules/bootstrap/less/bootstrap';
// bootstrap overrides
@import 'bootstrap/variables';

@import 'components/typography.less';
@import 'components/nav.less';
@import 'components/template1.less';

html, body {
	font-family: 'Suranna', serif;
	font-size: 16px;
	line-height: 1.18;
}

.section {
	padding: 25px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}