// Import 3rd party libs
@import '../../node_modules/bootstrap/less/bootstrap';
// bootstrap overrides
@import 'bootstrap/variables';

@import 'components/typography.less';
@import 'components/nav.less';
@import 'components/template1.less';
@import 'components/template2.less';
@import 'components/template3.less';
@import 'components/template4.less';
@import 'components/template5.less';
@import 'components/template6.less';

html, body {
    font-family: 'Suranna', serif;
    font-size: 16px;
    line-height: 1.18;
    color: #fff;
    width: 100%;
    min-width: 1024px;
    overflow: hidden;
}

.slider {
    transition: transform 1s ease;
    position: absolute;
    width: 100%;
    z-index: 1;
    &, > * {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}
    
.header {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.header, .side-panel {
    transition: transform 1s ease;
}

.side-panel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 11.11%;
    padding-left: 25px;
    .section-name {
        position: absolute;
        bottom: 25px;
        img {
            margin-bottom: 20px;
        }
    }
}

.section {
    position: relative;
    background: #fff;
    color: #000;
    transition: transform 1s ease;
    &.black {
        background: #000;
        color: #fff;
    }
    &.section-starter {
        background: #000;
    }
    .section-inner {
        padding: 25px;
    }
    .slide {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
}

.main-heading {
    font-size: 100px;
    color: #967c30;
    line-height: 1;
    .highlighted {
        color: #ff0000;
    }
}

.fullheight {
    height: 100vh;
    position: relative;
}

