.template-1 {
    height: 100%;
    position: relative;
    p {
        opacity: 0;
        transition: opacity 0.15s ease;
    }
    .section-inner {
        display: flex;
        height: 100vh;
        align-items: center;
    }
    .row {
        width: 100%;
    }
}

//Animation
.slide-active {
    .template-1 {
        p {
            opacity: 1;
            transition: opacity 0.5s 0.2s ease;
        }
    }
}

.sliding-down {
    .template-1 {
        p {
            opacity: 0;
        }
    }
}

.sliding-up {
    .template-1 {
        p {
            opacity: 0;
        }
    }
}
