.section {
    .section-inner.template-51 {
        padding-top: @fullsection-top-padding;
        position: relative;
        opacity: 0;
        transition: opacity 0.5s ease;
        .wrapper {
            padding-left: 11.11%;
        }
        .col {
            width: 25%;
            float: left;
        }
        .img-holder {
            padding: 0 7px;
            margin-bottom: 15px;
            img {
                max-width: 75%;
            }
        }
    }
}

//Animation
.section {
    .slide-active {
        .template-51.section-inner {
            opacity: 1;
        }
    }
}

@media (min-width: 1025px) {
    .section .section-inner.template-51 {
        .wrapper {
            padding-left: 0;
        }
    }
}