.section {
    .template-41.section-inner {
        .img-holder-1 {
            width: 55.55%;
            right: 0;
            bottom: 0;
        }
        .img-holder-2 {
            width: 27.27%;
            right: 33.33%;
            top: 160px;
        }
        .img-holder-3 {
            width: 22.22%;
            top: 0;
            right: 11.11%;
        }
    }
}