.section {
    .section-inner.template-5 {
        padding-top: 160px;
        position: relative;
        .row {
            position: relative;
        }
        .img-holder {
            position: absolute;
            img {
                width: 100%;
            }
        }
        .img-holder-1 {
            width: 33.33%;
            right: 0;
            top: 60px;
        }
    }
}
