.section {
    .section-inner.template-2 {
        display: flex;
        align-items: center;
        padding-top: 160px;
        p {
            margin-bottom: 25px;
            opacity: 0;
            transition: opacity 0.15s ease;
            font-size: 25px;
            line-height: 1.2;
        }
        .row {
            width: 100%;
        }
    }
    .section-inner.template-2.template-22 {
        padding-top: 140px;
    }
}

//Animation
.section {
  .slide-active {
      .template-2, .section-inner.template-21 {
          p, ol {
              opacity: 1;
              transition: opacity 0.5s 0.2s ease;
          }
      }
  }

  .sliding-down {
      .template-2, .section-inner.template-21 {
          p, ol {
              opacity: 0;
          }
      }
  }

  .sliding-up {
      .template-2, .section-inner.template-21 {
          p, ol {
              opacity: 0;
          }
      }
  }
}
