.section {
    .template-4.section-inner {
        padding-top: @fullsection-top-padding;
        .img-holder {
            position: absolute;
            transition: opacity 0.5s ease, transform 1s ease-out;
            img {
                width: 100%;
            }
        }
        .img-holder-1 {
            width: 27.3%;
            right: 11.11%;
            bottom: 25px;
            margin-right: 25px;
        }
        .img-holder-2 {
            width: 22.22%;
            top: 75px;
            right: 25px;
        }
        .img-holder-3 {
            width: 33.33%;
            right: 22.22%;
            top: 25px;
            margin-right: 45px;
        }
    }
}
.section {
    .template-41, .template-42, .template-43, .template-44 {
        &.section-inner {
            padding-top: @fullsection-top-padding;
            position: relative;
            .img-holder {
                position: absolute;
                transition: opacity 0.5s ease, transform 1s ease-out;
                padding: 0 7px;
                img {
                    width: 100%;
                }
            }
            .img-row {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 25px 18px;
            }
        }
    }
}

// .fp-section {
//     .template-4 {
//         p {
//             opacity: 0;
//             transition: opacity 0.5s ease;
//         }
//         .img-holder {
//             opacity: 0;
//             transform: translate(0, 80px);
//         }
//     }
//     &.active {
//         .template-4 {
//             p {
//                 opacity: 1;
//             }
//             .img-holder {
//                 opacity: 1;
//                 transform: translate(0, 0);
//             }
//         }
//     }
//     &.on-leave-down {
//         .template-4 {
//             .img-holder {
//                 opacity: 0;
//                 transform: translate(0, -180px);
//                 transition-delay: 0;
//             }
//         }
//     }
// }