.section {
    .template-44.section-inner {
        .img-holder {
            opacity: 0;
        }
        .img-holder-1 {
            width: 33.33%;
            right: 22.22%;
            top: 0;
        }
        .img-holder-2 {
            width: 22.22%;
            top: 0;
            right: 0;
        }
        .img-holder-3 {
            width: 33.33%;
            right: 0;
            bottom: 0;
        }
        .img-holder-4 {
            width: 22.22%;
            left: 44.44%;
            bottom: -25px;
        }
        .img-holder-5 {
            width: 22.22%;
            left: 44.44%;
            bottom: 160px;
            max-width: 150px;
        }
    }
}

//Animation
.section {
    .slide-active {
        .template-44.section-inner {
            p {
                opacity: 1;
                transition: opacity 0.5s 0.5s ease;
            }
            .img-holder {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }
    .sliding-up, .sliding-down, .slide-active {
        .template-44.section-inner {
            .img-holder-1 {
                transition: transform 0.5s 0.1s ease, opacity 0.5s 0.1s ease;
            }
            .img-holder-2 {
                transition: transform 0.5s 0.3s ease, opacity 0.5s 0.3s ease;
            }
            .img-holder-3 {
                transition: transform 0.5s 0.2s ease, opacity 0.5s 0.2s ease;
            }
            .img-holder-4 {
                transition: transform 0.5s 0.1s ease, opacity 0.5s 0.1s ease;
            }
            .img-holder-5 {
                transition: transform 0.5s 0s ease, opacity 0.5s 0s ease;
            }
        }
    }
    .sliding-up {
        .template-44.section-inner {
            .img-holder {
                opacity: 0;
            }
            .img-holder-1 {
                transform: translate(0, -300px) !important;
            }
            .img-holder-2 {
                transform: translate(0, -250px) !important;
            }
            .img-holder-3 {
                transform: translate(0, -280px) !important;
            }
            .img-holder-4 {
                transform: translate(0, -280px) !important;
            }
            .img-holder-5 {
                transform: translate(0, -280px) !important;
            }
        }
    }
    .sliding-down {
        .template-44.section-inner {
            .img-holder {
                opacity: 0;
            }
            .img-holder-1 {
                transform: translate(0, 300px) !important;
            }
            .img-holder-2 {
                transform: translate(0, 250px) !important;
            }
            .img-holder-3 {
                transform: translate(0, 280px) !important;
            }
            .img-holder-4 {
                transform: translate(0, 250px) !important;
            }
            .img-holder-5 {
                transform: translate(0, 280px) !important;
            }
        }
    }
}
