.section {
    .section-inner.template-21 {
        display: flex;
        padding-top: 120px;
        align-items: center;
        .row {
            width: 100%;
        }
        ol {
            color: red;
            opacity: 0;
            transition: opacity 0.15s ease;
            li {
                font-size: 22px;
                line-height: 1.2;
                span {
                    color: #fff;
                }
            }
        }
    }
}