<!DOCTYPE html>
<html lang="en" ng-app="Cunard" ng-controller="CunardCtrl as ctrl">
<head>
    <meta charset="UTF-8">
    <title>Cunard Spa</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="https://fonts.googleapis.com/css?family=Suranna" rel="stylesheet" />
    <link rel="stylesheet" href="assets/jquery.fullpage.min.css" />
    <link rel="stylesheet" href="assets/main.css" />
</head>
<body style="background-color: rgb(0, 0, 0)">
    <!-- Navigation -->
    <div class="navigation"
         ng-class="{'visible': ctrl.menuOpened}">
        <div class="close-btn"
             ng-click="ctrl.menuOpened = false"></div>
        <div class="nav-item clearfix"
             ng-repeat="section in ctrl.data">
            <a href
               ng-click="ctrl.slideTo(section.data.position)"> 
                <div class="nav-img-holder">
                    <img ng-src="assets/img/ui/{{section.data.position}}_White.svg" />
                </div>
                <div>{{section.data.name}}</div>
            </a>
        </div>
    </div>

    <!-- Slider Container -->
    <div class="slider">

        <!-- First section -->
        <div class="section section-starter black"
             ng-style="{'z-index': ctrl.data.length + 1}"
             data-last="false">
            <div class="slide"
                 data-id="0"
                 full-page
                 ng-class="{'slide-active': ctrl.activeSlide === 0,
                            'prev': ctrl.activeSlide - 1 === 0,
                            'next': ctrl.activeSlide + 1 === 0}"
                 ng-if="ctrl.activeSlide === 0 ||
                       (ctrl.activeSlide - 1) === 0 ||
                       (ctrl.activeSlide + 1) === 0">
                <div class="section-inner">
                    <div class="main-heading">
                        <span class="highlighted">A New<br></span>
                        <span>Cunard Spa</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slider Sections -->
    	<div class="section"
             ng-class-odd="'black'"
    		 ng-repeat="section in ctrl.data"
             ng-style="{'z-index': ctrl.data.length - $index}"
             data-last="{{$last}}">

            <!-- Header -->
            <div class="header">
                <div class="menu-btn"
                     ng-click="ctrl.menuOpened = true"></div>
                <div class="subsection-name" ng-bind-html="ctrl.subsectionName | to_trusted"></div>
                <div class="page-name" ng-bind-html="ctrl.activePageName | to_trusted"></div>
            </div>

            <!-- Side panel -->
            <div class="side-panel">
                <div class="section-name">
                    <img ng-if="$index % 2 === 0"
                         ng-src="assets/img/ui/{{section.data.position}}_White.svg" />
                    <img ng-if="$index % 2 !== 0"
                         ng-src="assets/img/ui/{{section.data.position}}_Black.svg" />
                    <div>{{section.data.name}}</div>
                </div>
            </div>

            <div class="slide" full-page
                 ng-repeat="slide in section.data.pages"
                 data-id="{{slide.id}}"
                 ng-class="{'slide-active': ctrl.activeSlide === slide.id,
                            prev: ctrl.activeSlide - 1 === slide.id,
                            next: ctrl.activeSlide + 1 === slide.id,
                            reveal: $index === 0}"
                 ng-if="ctrl.activeSlide === slide.id ||
                       (ctrl.activeSlide - 1) === slide.id ||
                       (ctrl.activeSlide + 1) === slide.id">
                <!-- Template -->
                <ng-include src="'templates/template' + slide.template + '.html'"></ng-include>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="assets/index.js"></script>
</body>
</html>