<!DOCTYPE html>
<html lang="en" ng-app="Cunard" ng-controller="CunardCtrl as ctrl">
<head>
    <meta charset="UTF-8">
    <title>Cunard Spa</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="https://fonts.googleapis.com/css?family=Suranna" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/jquery.fullpage.min.css" />
    <link rel="stylesheet" href="assets/main.css" />
</head>
<body style="background-color: rgb(0, 0, 0)">
    <!-- Mobile Message -->
    <div class="mobile-msg-wrapper">
        <div class="mobile-msg">
            Sorry, this page can only be viewed <br>on Tablet/Desktop devices.
        </div>
    </div>
    <!-- iPad message -->
    <div class="ipad-rotate-msg-wrapper">
        <div class="mobile-msg ipad-rotate-msg">
            <img src="assets/img/ui/ipad-rotate.svg" />
            <div>
                Please rotate your device to landscape mode <br>for best experience.
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <div class="navigation"
         ng-class="{'visible': ctrl.menuOpened}">
        <div class="close-btn"
             ng-click="ctrl.menuOpened = false"></div>
        <div class="nav-item clearfix"
             ng-repeat="section in ctrl.data">
            <a href
               ng-click="ctrl.slideTo(section.data.position)"> 
                <div class="nav-img-holder">
                    <img ng-src="assets/img/ui/{{section.data.position}}_White.svg" />
                </div>
                <div>{{section.data.name}}</div>
            </a>
        </div>
    </div>

    <!-- Slider Container -->
    <div class="slider">

        <!-- First section -->
        <div class="section section-starter"
             ng-style="{'z-index': ctrl.data.length + 1}"
             data-last="false">
            <div class="slide"
                 data-id="0"
                 full-page
                 ng-class="{'slide-active': ctrl.activeSlide === 0,
                            'prev': ctrl.activeSlide - 1 === 0,
                            'next': ctrl.activeSlide + 1 === 0}"
                 ng-if="ctrl.activeSlide === 0 ||
                       (ctrl.activeSlide - 1) === 0 ||
                       (ctrl.activeSlide + 1) === 0">
                <div class="section-inner">
                    <div class="main-heading">
                        <span class="highlighted">A New<br></span>
                        <span>Cunard Spa</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slider Sections -->
    	<div class="section"
             ng-class-odd="'black'"
    		 ng-repeat="section in ctrl.data"
             ng-style="{'z-index': ctrl.data.length - $index}"
             data-last="{{$last}}">

            <!-- Header -->
            <div class="header"
                 ng-style="{'transform': 'translate3d(0,' + ctrl.windowHeight * ($index + 1 - ctrl.revealIndex) + 'px, 0)'}">
                <div class="menu-btn"
                     ng-click="ctrl.menuOpened = true"></div>
                <div class="header-info-wrapper">
                    <div class="subsection-name" ng-bind-html="ctrl.subsectionName | to_trusted"></div>
                    <div class="page-name" ng-bind-html="ctrl.activePageName | to_trusted"></div>
                </div>
            </div>

            <!-- Side panel -->
            <div class="side-panel"
                 full-page
                 ng-style="{'transform': 'translate3d(0,' + ctrl.windowHeight * ($index + 1 - ctrl.revealIndex) + 'px, 0)'}">
                <div class="section-name">
                    <img ng-if="$index % 2 === 0"
                         ng-src="assets/img/ui/{{section.data.position}}_White.svg" />
                    <img ng-if="$index % 2 !== 0"
                         ng-src="assets/img/ui/{{section.data.position}}_Black.svg" />
                    <div>{{section.data.name}}</div>
                </div>
            </div>

            <div class="slide" full-page
                 ng-repeat="slide in section.data.pages"
                 data-id="{{slide.id}}"
                 ng-class="{'slide-active': ctrl.activeSlide === slide.id,
                            prev: ctrl.activeSlide - 1 === slide.id,
                            next: ctrl.activeSlide + 1 === slide.id,
                            reveal: $index === 0}"
                 ng-if="ctrl.activeSlide === slide.id ||
                       (ctrl.activeSlide - 1) === slide.id ||
                       (ctrl.activeSlide + 1) === slide.id">
                <!-- Template -->
                <ng-include src="'templates/template' + slide.template + '.html'"></ng-include>
            </div>
        </div>

        <!-- Last section -->
        <div class="section"
             data-last="false">
            <div class="slide reveal"
                 data-id="{{ctrl.lastPageIndex + 1}}"
                 full-page
                 ng-class="{'slide-active': ctrl.activeSlide === ctrl.lastPageIndex + 1,
                            'prev': ctrl.activeSlide - 1 === ctrl.lastPageIndex + 1,
                            'next': ctrl.activeSlide + 1 === ctrl.lastPageIndex + 1}"
                 ng-if="ctrl.activeSlide === ctrl.lastPageIndex + 1 ||
                       (ctrl.activeSlide - 1) === ctrl.lastPageIndex + 1 ||
                       (ctrl.activeSlide + 1) === ctrl.lastPageIndex + 1">
                <div class="section-inner">
                    <div class="main-heading">
                        <span class="highlighted">Thank you</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="assets/index.js"></script>
</body>
</html>